<!DOCTYPE html>
<html>
<head>
	<title>Movimiento - Fórmulas</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<script type="text/javascript" src="javascript/jquery.min.js"></script>
	<script type="text/javascript" src="javascript/bootstrap.min.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/javascript" src="javascript/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="app">
	<div class="container">
		<h1>Movimiento Curvilineo </h1>
		<hr>
		<div class="container">
			<div class="row" ng-controller="MovimientoHorizontalController">
				<div class="col-md-6">
					<h2>
						Movimiento Horizontal
					</h2>
					<hr>
					<form role="form" class="form-horizontal">
						<div class="form-group">
						    <label class="sr-only" for="finalX">Posicion Final </label>
						    <div class="input-group">
						      <div class="input-group-addon">$x$</div>
						      <input type="number" ng-model="posicionFinal" readonly class="form-control" id="finalX" placeholder="Posicion Final" value="{{posicionInicial + velocidadInicial*tiempo}}">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialX">Posicion Inicial</label>
						    <div class="input-group">
						      <div class="input-group-addon">$x_0$</div>
						      <input type="number" ng-model="posicionInicial" class="form-control" id="initialX" placeholder="Posicion Inicial">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialVX">Velocidad Inicial</label>
						    <div class="input-group">
								<div class="input-group-addon">$v_0$</div>
								<input type="number" ng-model="velocidadInicial" class="form-control" id="initialVX" placeholder="Velocidad Inicial">
								<div class="input-group-addon">$m/s$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="timeX">Tiempo</label>
						    <div class="input-group">
								<div class="input-group-addon">$t$</div>
								<input type="number" ng-model="tiempo" class="form-control" id="timeX" placeholder="Tiempo">
								<div class="input-group-addon">$s$</div>
						    </div>
					  	</div>

					  	<div class="form-group">
							<input type="button" class="pull-right btn btn-info" value="Limpiar" ng-click="limpiar()"/>
						</div>
					</form>
					<hr>
				</div>
				<div class="col-md-6" style="font-size: 233%;">
					$x = x_{0}+v_0t$
				</div>
			</div>
			<div class="row" ng-controller="TiempoHorizontalController">
				<div class="col-md-6">
					<h2>Tiempo de Movimiento Horizontal</h2>
					<hr>
					<form role="form" class="form-horizontal">
						<div class="form-group">
						    <label class="sr-only" for="tiempo">Tiempo</label>
						    <div class="input-group">
						      <div class="input-group-addon">$t$</div>
						      <input type="number" ng-model="tiempo" readonly class="form-control" id="tiempo" placeholder="Tiempo" value="{{(posicionFinal - posicionInicial) / velocidadInicial }}">
						      <div class="input-group-addon">$s$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="finalX">Posicion Final </label>
						    <div class="input-group">
						      <div class="input-group-addon">$x$</div>
						      <input type="number" ng-model="posicionFinal" class="form-control" id="finalX" placeholder="Posicion Final" >
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialX">Posicion Inicial</label>
						    <div class="input-group">
						      <div class="input-group-addon">$x_0$</div>
						      <input type="number" ng-model="posicionInicial" class="form-control" id="initialX" placeholder="Posicion Inicial">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialVX">Velocidad Inicial</label>
						    <div class="input-group">
								<div class="input-group-addon">$v_0$</div>
								<input type="number" ng-model="velocidadInicial" class="form-control" id="initialVX" placeholder="Velocidad Inicial">
								<div class="input-group-addon">$m/s$</div>
						    </div>
					  	</div>

					  	<div class="form-group">
							<input type="button" class="pull-right btn btn-info" value="Limpiar" ng-click="limpiar()"/>
						</div>
					</form>
					<hr>
				</div>
				<div class="col-md-6" style="font-size: 233%;">
					$t = \frac{x - x_0}{v_0}$
				</div>
				<hr>
			</div>

			<div class="row" ng-controller="MovimientoVerticalController">
				<div class="col-md-6">
					<h2>
						Movimiento Vertical
					</h2>
					<hr>
					<form role="form" class="form-horizontal">
						<div class="form-group">
						    <label class="sr-only" for="finalY">Posicion Final</label>
						    <div class="input-group">
						      <div class="input-group-addon">$y$</div>
						      <input type="number" ng-model="posicionFinal" readonly class="form-control" id="finalY" placeholder="Posicion Final" value="{{posicionInicial + velocidadInicial*tiempo - (1/2)*gravedad*tiempo*tiempo }}">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialY">Posicion Inicial</label>
						    <div class="input-group">
						      <div class="input-group-addon">$y_0$</div>
						      <input type="number" ng-model="posicionInicial" class="form-control" id="initialY" placeholder="Posicion Inicial">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialVY">Velocidad Inicial</label>
						    <div class="input-group">
								<div class="input-group-addon">$v_0$</div>
								<input type="number" ng-model="velocidadInicial" class="form-control" id="initialVY" placeholder="Velocidad Inicial">
								<div class="input-group-addon">$m/s$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="gravity">Gravedad</label>
						    <div class="input-group">
								<div class="input-group-addon">$g$</div>
								<input type="number" ng-model="gravedad" class="form-control" id="gravity" placeholder="Gravedad" value="9.8">
								<div class="input-group-addon">$m/s^2$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="timeY">Tiempo</label>
						    <div class="input-group">
								<div class="input-group-addon">$t$</div>
								<input type="number" ng-model="tiempo" class="form-control" id="timeY" placeholder="Tiempo">
								<div class="input-group-addon">$s$</div>
						    </div>
					  	</div>

					  	<div class="form-group">
							<input type="button" class="pull-right btn btn-info" value="Limpiar" ng-click="limpiar()"/>
						</div>
					</form>
					<hr>
				</div>
				<div class="col-md-6" style="font-size: 233%;">
					$y = y_{0}+v_0t-1/2 gt^2$
				</div>
			</div>
			<div class="row" ng-controller="TiempoVerticalController">
				<div class="col-md-6">
					<h2>
						Tiempo de Movimiento Vertical
					</h2>
					<hr>
					<form role="form" class="form-horizontal">
						<div class="form-group">
						    <label class="sr-only" for="time1">Tiempo 1</label>
						    <div class="input-group">
								<div class="input-group-addon">$t_1$</div>
								<input type="number" readonly ng-model="tiempo1" class="form-control" id="time1" placeholder="Tiempo"
								value="{{ (velocidadInicial + Math.sqrt( velocidadInicial * velocidadInicial + 2*gravedad*(posicionInicial + posicionFinal) ) )/gravedad }}">
								<div class="input-group-addon">$s$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="time2">Tiempo 2</label>
						    <div class="input-group">
								<div class="input-group-addon">$t_2$</div>
								<input type="number" readonly ng-model="tiempo2" class="form-control" id="time2" placeholder="Tiempo"
								value="{{ (velocidadInicial - Math.sqrt( velocidadInicial * velocidadInicial + 2*gravedad*(posicionInicial + posicionFinal) ) )/gravedad }}">
								<div class="input-group-addon">$s$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="finalY">Posicion Final</label>
						    <div class="input-group">
						      <div class="input-group-addon">$y$</div>
						      <input type="number" ng-model="posicionFinal" class="form-control" id="finalY" placeholder="Posicion Final">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialY">Posicion Inicial</label>
						    <div class="input-group">
						      <div class="input-group-addon">$y_0$</div>
						      <input type="number" ng-model="posicionInicial" class="form-control" id="initialY" placeholder="Posicion Inicial">
						      <div class="input-group-addon">$m$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="initialVY">Velocidad Inicial</label>
						    <div class="input-group">
								<div class="input-group-addon">$v_0$</div>
								<input type="number" ng-model="velocidadInicial" class="form-control" id="initialVY" placeholder="Velocidad Inicial">
								<div class="input-group-addon">$m/s$</div>
						    </div>
					  	</div>
						<div class="form-group">
						    <label class="sr-only" for="gravity">Gravedad</label>
						    <div class="input-group">
								<div class="input-group-addon">$g$</div>
								<input type="number" ng-model="gravedad" class="form-control" id="gravity" placeholder="Gravedad" value="9.8">
								<div class="input-group-addon">$m/s^2$</div>
						    </div>
					  	</div>

					  	<div class="form-group">
							<input type="button" class="pull-right btn btn-info" value="Limpiar" ng-click="limpiar()"/>
						</div>
					</form>
					<hr>
				</div>
				<div class="col-md-6" style="font-size: 233%;">
					$t = \frac{v_0 \pm \sqrt{v_0^2 + 2g(y_0+y)}}{g}$
				</div>
			</div>
		</div>
	</div>

	<footer>
		<hr>
		<div class="container text-center">
			<p class="text-muted credit">&#169; Juan Carlos Espinoza 2015</p>
		</div>
	</footer>
</body>
</html>
